body {
    padding-left: 15px;
}

.page-header {
    background-color: #1a75ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "Lobster", cursive;
    font-style: bold;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    font-family: "Cabin", sans-serif;
    font-size: 16pt;
}

.post_title {
	background-color: #8c1aff;
	color: #ffffff;
	padding: 10px;
	border-radius: 15px;
}

.post_title:hover, .post_title:visited {
	color: #ffffff;
}

.post_content {
	margin-top: 60px;
}

.post_date {
	float: right;
	font-size: 12pt;
	margin-top: 10px;
}